data/raw/
data/interim/
data/processed/
data/tenx/
data/demo/
data/*.csv
results/*
logs/*
logs/
models/*
!models/README.md
!models/nnNet_best.pth
!models/Resnet-3D_best.pth
*.nii
*.nii.gz
*.h5
*.h5ad
*.rds
*.pt
*.pth
!models/nnNet_best.pth
!models/Resnet-3D_best.pth
*.ckpt
*.pkl
*.joblib
*.out
*.err
*.tmp
.DS_Store
.vscode/
.Rhistory
.RData
__pycache__/
*.pyc
.venv*/
